<html>
<head>
<title>sampale</title>
</head>

<body>

 <form action = "\admin" method="POST">
<p>enter worksheet name:<input type="text" name = "sheet"></p>
<p>enter Date:<input  type=number name = "date"></p>
<p>enter TT:<input  type=number name = "TT"></p>
<p>enter MH:<input  type=number name = "MH"></p>
<p>enter TN:<input  type=number name = "TN"></p>
<p>enter DL:<input  type=number name = "DL"></p>
<p>enter GJ:<input  type=number name = "GJ"></p>
<p>enter RJ:<input  type=number name = "RJ"></p>
<p>enter UP:<input  type=number name = "UP"></p>
<p>enter MP:<input  type=number name = "MP"></p>
<p>enter AP:<input  type=number name = "AP"></p>
<p>enter TG:<input  type=number name = "TG"></p>
<p>enter KA:<input  type=number name = "KA"></p>
<p>enter KL:<input  type=number name = "KL"></p>
<p><input type = submit value ="submit"></p>
 </form>


</body>
</html>